<div ng-controller="app.views.mails.openMail as vm">
    <h1>Mails from Gmail</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <a href="#/mails" class="btn btn-primary pull-left"><i class="fa fa-arrow-left"></i> @L("Back")</a>
            </div>
            <div class="col-md-4">
                <button ng-click="" class="btn btn-primary center-block"><i class="fa fa-trash"></i> @L("Delete")</button>
            </div>
            {{vm.mailData}}
            </div>
    </div>
</div>